* {
    box-sizing: border-box
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i&subset=cyrillic';

body {
    margin: 0;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-page {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
}

.landing-page .div {
    background-color: #1e1e1e;
    overflow: hidden;
    width: 1440px;
    height: 3019px;
    position: relative;
}

.landing-page .div-2 {
    position: absolute;
    width: 1440px;
    height: 675px;
    top: 0;
    left: 0;
}

.landing-page .overlap {
    position: relative;
    width: 1440px;
    height: 675px;
    background-image: url(https://c.animaapp.com/zQgiYN1m/img/mask-group.png);
    background-size: 100% 100%;
}

.landing-page .rectangle {
    position: absolute;
    width: 1440px;
    height: 675px;
    top: 0;
    left: 0;
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(30, 30, 30, 0.8) 47.76%,
            rgb(30, 30, 30) 100%);
}

.landing-page .btn-primary {
    width: 222px;
    top: 526px;
    left: 601px;
    background-color: #f5bd32;
    position: absolute;
    height: 49px;
}

.landing-page .overlap-group {
    height: 49px;
    border: 2px solid;
    border-color: #f5bd32;
    box-shadow: 0px 4px 15px #f5bd32;
}

.landing-page .group {
    width: 192px;
    left: 16px;
    position: relative;
    height: 24px;
    top: 11px;
}

.landing-page .go-to-menu {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .line {
    width: 53px;
    left: 138px;
    position: absolute;
    height: 2px;
    top: 11px;
}

.landing-page .taste-the-rich {
    position: absolute;
    top: 223px;
    left: 323px;
    font-family: "Cinzel", Helvetica;
    font-weight: 700;
    color: #f3d382;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.landing-page .best-sushi-in-town {
    position: absolute;
    top: 192px;
    left: 557px;
    font-family: "Great Vibes", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 7.5px;
    line-height: normal;
}

.landing-page .we-only-use-the-five {
    position: absolute;
    top: 399px;
    left: 538px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.landing-page .navbar {
    position: relative;
    width: 1200px;
    height: 82px;
    top: 10px;
    left: 120px;
}

.landing-page .navbar-2 {
    position: relative;
    width: 766px;
    height: 24px;
    top: 29px;
    left: 141px;
}

.landing-page .text-wrapper-menu {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-wrapper-menu:hover .p-menu {
    font-size: 26px;
    transition: 0.5s;
    transform: translate(-6px, -6px);
    color: #f5bd32;
    text-shadow: 0px 0px 30px #f5bd32;
}

.landing-page .text-wrapper-reviews {
    position: absolute;
    top: 0;
    left: 70px;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-wrapper-reviews:hover .p-reviews {
    font-size: 26px;
    transition: 0.5s;
    transform: translate(-12px, -6px);
    color: #f5bd32;
    text-shadow: 0px 0px 30px #f5bd32;
}

.landing-page .text-wrapper-about {
    left: 160px;
    position: relative;
    top: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-wrapper-about:hover .p-about {
    font-size: 26px;
    transition: 0.5s;
    transform: translate(-6px, -6px);
    color: #f5bd32;
    text-shadow: 0px 0px 30px #f5bd32;
}

.landing-page .text-wrapper-contacts {
    left: 240px;
    position: absolute;
    top: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-wrapper-contacts:hover .p-contacts {
    font-size: 26px;
    transition: 0.5s;
    transform: translate(-12px, -6px);
    color: #f5bd32;
    text-shadow: 0px 0px 30px #f5bd32;
}

.landing-page .text-wrapper-stuff {
    left: 340px;
    position: absolute;
    top: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-wrapper-stuff:hover .p-stuff {
    font-size: 26px;
    transition: 0.5s;
    transform: translate(-7px, -6px);
    color: #f5bd32;
    text-shadow: 0px 0px 30px #f5bd32;
}

.landing-page .text-wrapper-suppliers {
    left: 410px;
    position: absolute;
    top: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-wrapper-suppliers:hover .p-suppliers {
    font-size: 26px;
    transition: 0.5s;
    transform: translate(-12px, -6px);
    color: #f5bd32;
    text-shadow: 0px 0px 30px #f5bd32;
}

.landing-page .text-wrapper-partners {
    left: 515px;
    position: absolute;
    top: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-wrapper-partners:hover .p-partners {
    font-size: 26px;
    transition: 0.5s;
    transform: translate(-12px, -6px);
    color: #f5bd32;
    text-shadow: 0px 0px 30px #f5bd32;
}

.landing-page .text-wrapper-children {
    left: 620px;
    position: absolute;
    top: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-wrapper-children:hover .p-children {
    font-size: 26px;
    transition: 0.5s;
    transform: translate(-12px, -6px);
    color: #f5bd32;
    text-shadow: 0px 0px 30px #f5bd32;
}

.landing-page .group-wrapper {
    width: 222px;
    top: 16px;
    left: 978px;
    border: 2px solid;
    border-color: #f5bd32;
    box-shadow: 0px 4px 15px #f5bd32;
    position: absolute;
    height: 49px;
}

.landing-page .group-2 {
    width: 196px;
    left: 12px;
    position: relative;
    height: 24px;
    top: 11px;
}

.landing-page .reservation {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Cormorant SC", Helvetica;
    font-weight: 600;
    color: #f5bd32;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .img {
    width: 53px;
    left: 142px;
    position: absolute;
    height: 2px;
    top: 11px;
}

.group-wrapper:hover .reservation {
    color: black;
    transform: translate(17px, -3px);
    font-size: 24px;
    transition: 0.5s;
}

.group-wrapper:hover .img {
    color: black;
    filter: invert(100%);
    opacity: 0;
    transform: translateX(-48px);
    transition: 0.2s;
}

.group-wrapper:hover {
    background-color: #f5bd32;
    color: black;
    transition: 0.5s;
}

.landing-page .logo {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.form-wrap {
    position: relative;
    width: 550px;
    background: #ffd500;
    border-radius: 20px;
    top: 225px;
    left: 430px;
    z-index: 0;
}

.form-wrap * {
    transition: .1s linear
}

.profile {
    width: 240px;
    float: left;
    text-align: center;
    padding: 30px;
}

form {
    background: white;
    float: left;
    width: calc(100% - 240px);
    padding: 30px;
    border-radius: 0 20px 20px 0;
    color: #7b7b7b;
}

.form-wrap:after,
form div:after {
    content: "";
    display: table;
    clear: both;
}

form div {
    margin-bottom: 15px;
    position: relative;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
}

label,
span {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    border-width: 0;
    background: #e6e6e6;
    outline: none;
    margin: 0;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .2);
}

.radio label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    width: 50%;
    float: left;
    line-height: 40px;
}

.radio input {
    position: absolute;
    opacity: 0;
}

.radio-control {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #e6e6e6;
    border-radius: 50%;
    text-align: center;
}

.male:before {
    content: "\f222";
    font-family: FontAwesome;
    font-weight: bold;
}

.female:before {
    content: "\f221";
    font-family: FontAwesome;
    font-weight: bold;
}

.radio label:hover input~.radio-control,
.radiol input:focus~.radio-control {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .2);
}

.radio input:checked~.radio-control {
    color: red;
}

select {
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

.select-arrow {
    position: absolute;
    top: 38px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

button {
    padding: 10px 0;
    border-width: 0;
    border-radius: 5px;
    display: block;
    width: 120px;
    margin: 25px auto 0;
    background: #60e6c5;
    color: white;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    body {
        display: block
    }

    .form-wrap {
        margin: 20px auto;
        max-width: 550px;
        width: 100%
    }

    .profile,
    form {
        float: none;
        width: 100%
    }

    h1 {
        margin-top: auto;
        padding-bottom: 50px;
    }

    form {
        border-radius: 0 0 20px 20px
    }
}